:root {
  --cell-size: 8;
  --normal-border_width: 1px;
  --bold-border_width: 2px;
}

.cell {
  aspect-ratio: 1;
  width: calc(min(1vmin, 1%) * var(--cell-size));
  box-sizing: border-box;
  border: solid var(--normal-border_width);
  text-align: center;
  font-size: 150%;
  font-family: Helvetica;
  transition-duration: 0.05s;
  caret-color: transparent;
  outline: none;
}
.cell:nth-child(3n+1):not(:first-child) {
  border-left: solid var(--bold-border_width);
}
.cell:nth-child(3n):not(:last-child) {
  border-right: solid var(--bold-border_width);
}
.grid > .row:nth-child(3n+1):not(:first-child) > .cell {
  border-top: solid var(--bold-border_width);
}
.grid > .row:nth-child(3n):not(:last-child) > .cell {
  border-bottom: solid var(--bold-border_width);
}
.cell::selection {
  background: transparent;
}
.cell.editable {
  cursor: pointer;
  background-color: #ecedf0;
}
.cell.editable:focus {
  transform: scale(1.07);
  background-color: #ffffff;
}
.cell.fixed {
  cursor: default;
  background-color: #93e0ff;
}

.overlay{
    opacity: 0.5;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
}