:root {
  --cell-size: 8;
  --normal-border_width: 1px;
  --bold-border_width: 2px;
  --border-radius: 10px;
  --black-hover: #222222;
  background-color: #f8f9fb;
  user-select: none;
  font-family: Helvetica;
}

h1 {
  font-weight: 500;
  font-size: 4vmin;
}

h2 {
  font-weight: 700;
  font-size: 2.5vmin;
  margin-bottom: -1em;
}

.center-relative {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.center {
  @extend .center-relative;
  position: absolute;
}

.cell {
  aspect-ratio: 1;
  width: calc(100% / 9);
  box-sizing: border-box;
  border: solid var(--normal-border_width);
  text-align: center;
  font-size: 3.5vmin;
  font-family: Helvetica;
  transition-duration: 0.05s;
  caret-color: transparent;
  outline: none;
}

.cell:nth-child(3n+1):not(:first-child) {
  border-left: solid var(--bold-border_width);
}

.cell:nth-child(3n):not(:last-child) {
  border-right: solid var(--bold-border_width);
}

.grid>.row:first-child>.cell:first-child {
  border-top-left-radius: 10%;
}

.grid>.row:first-child>.cell:last-child {
  border-top-right-radius: 10%;
}

.grid>.row:last-child>.cell:last-child {
  border-bottom-right-radius: 10%;
}

.grid>.row:last-child>.cell:first-child {
  border-bottom-left-radius: 10%;
}

.grid>.row:nth-child(3n+1):not(:first-child)>.cell {
  border-top: solid var(--bold-border_width);
}

.grid>.row:nth-child(3n):not(:last-child)>.cell {
  border-bottom: solid var(--bold-border_width);
}

.row {
  display: flex;
}

.grid {
  aspect-ratio: 1;
  width: calc(1vmin * var(--cell-size) * 9);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}

.cell::selection {
  background: transparent;
}

.cell.editable {
  cursor: pointer;
  background-color: #ecedf0;
}

.cell.editable:focus {
  transform: scale(1.07);
  background-color: #ffffff;
}

.cell.fixed {
  cursor: default;
  background-color: #93e0ff;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  cursor: pointer;
}

.overlay>* {
  cursor: default;
}

.center-overlay {
  background-color: #ffffff;
  opacity: 1;
  @extend .center;
  height: 50%;
  aspect-ratio: 0.8;
  border-radius: var(--border-radius);
  box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.2);
}

.center-contents {
  width: 80%;
  height: 83%;
  text-align: center;
  @extend .center;
}

.center-contents>h1 {
  height: 12%;
  margin-top: 0;
  margin-bottom: 1vmin;
}

.calendar-container {
  width: 100%;
  height: 81%;
}

.calendar {
  width: 100%;
  height: 100%;
}

.center-button {
  background-color: red;
}

.grid-overlay {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  aspect-ratio: 1;
  width: calc(1vmin * var(--cell-size) * 9);
  border-radius: var(--border-radius);
  z-index: 1;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.2s;
}

.grid-overlay:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.grid-overlay:hover>* {
  transition-duration: 0.5s;
  transform: scale(110%);
}

.grid-overlay:not(:hover)>* {
  transition-duration: 0.2s;
}

.grid-overlay-contents {
  margin-top: -10%;
  text-shadow: 0px 0px 10px black;
}

.grid-overlay-contents>h1 {
  font-size: 7vmin;
}

.grid-overlay-contents>p {
  margin-top: -10%;
  font-size: 3vmin;
  font-weight: 600;
}

.grid-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.header {
  width: calc(1vmin * var(--cell-size) * 9);
  justify-content: space-between;
  position: relative;
  display: flex;
  margin: 0px auto;
}

.timer-container {
  display: flexbox;
  margin-top: 4.2vmin;
}

.timer-text {
  display: inline-block;
}

.pause-button {
  width: 2.7vmin;
  height: 2.7vmin;
  aspect-ratio: 1;
  padding: 0px;
  margin-right: 1vmin;
  transform: translate(0, 0.4vmin);
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.pause-button:hover>img {
  transform: scale(110%);
}

.pause-button>img {
  transition-duration: 0.2s;
  width: 100%;
}

.footer {
  @extend .header;
  justify-content: right;
  margin-top: 3vmin;
}

.select-puzzle-button {
  width: 25%;
  height: 5vmin;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  background-color: black;
  color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 2vmin;
  transition-duration: 0.2s;
}

.select-puzzle-button:hover {
  background-color: var(--black-hover);
}

.day-button {
  background-color: #eeeeee;
  aspect-ratio: 1;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 100%;
  font-size: 1.5vmin;
}

.day-button:hover {
  background-color: #dddddd;
  transition-duration: 0.2s;
}

.day-button.selected {
  background-color: black;
  color: white;
}

.day-button.selected:hover {
  background-color: var(--black-hover);
  transition-duration: 0.2s;
}

.day-button.other-month {
  visibility: hidden;
}

.day-button.future-day {
  background: none;
  opacity: 0.3;
  cursor: default;
}

.month-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.2vmin;
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: 10%;
}

.month-selector>button {
  background: none;
  aspect-ratio: 1;
  height: 70%;
  outline: none;
  border: none;
}

.month-selector>button.disabled {
  opacity: 0.2;
}

.month-selector>button.enabled {
  cursor: pointer;
  opacity: 1;
}

.month-selector>button.enabled:hover {
  transform: scale(110%);
}

.month-selector>button>img {
  height: 100%;
}

.day-selector {
  width: 100%;
}

.day-selector>thead {
  opacity: 0.5;
  font-size: 1.3vmin;
}

.center-button-container {
  margin-top: 1vmin;
  height: 8%;
  justify-content: right;
  display: flex;
  transform: translate(0, -40%);
}

.center-button-container>button {
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  background-color: black;
  color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 100%;
  width: 40%;
  transition-duration: 0.2s;
  font-size: 1.8vmin;
}

.center-button-container>button:hover {
  background-color: var(--black-hover);
}

.center-contents>p {
  font-size: 2.5vmin;
}

.completion-screen-buttons {
  width: 100%;
  height: 68%;
  margin-top: 5vmin;
}

.completion-screen-buttons>.center-button-container {
  justify-content: center;
  margin-top: 2.5%;
  height: 15%;
  width: 100%;
}

.completion-screen-buttons>.center-button-container>button {
  width: 50%;
}